#top-pane {
-fx-background-color: #BFFAFD;
}

#left-pane {
-fx-background-color: #BFFAFD;
}

#show-client-button {
      -fx-font-family: "Arial";
                    -fx-font-size: 10.5pt;
                    -fx-font-weight: bold;
                    -fx-text-fill: gray;
                    -fx-background-color: white;
                    -fx-border-radius: 30 30 30 30;
                    -fx-padding: 2.5px 2.5px;
                    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 1);
}

#show-client-button:hover {
     -fx-background-color :  #07f7f7;
            -fx-background-radius: 0 30 30 0;
}

#show-client-button:pressed {
        -fx-background-color :  #239c9c;
            -fx-background-radius: 0 30 30 0;
}

#client-label {
    -fx-font-size: 18px;
        -fx-text-fill: #333333;
        -fx-font-family: "Arial";
        -fx-font-weight: bold;
        -fx-padding: 5px;
        -fx-background-color: #F0F0F0;
        -fx-border-color: #CCCCCC;
        -fx-border-width: 2px;
        -fx-border-radius: 5px;
        -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0, 0, 1);
}

#client-label :hover {
 -fx-background-color: #E0E0E0;
                -fx-border-color: #999999;
}

#return-button {
        -fx-font-family: "Arial";
                            -fx-font-size: 14pt;
                            -fx-font-weight: bold;
                            -fx-text-fill: gray;
                            -fx-background-color: white;
                            -fx-border-radius: 30 30 30 30;
                            -fx-padding: 2.5px 2.5px;
                            -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 5, 0, 0, 1);
}

#return-button:hover {
         -fx-background-color :  #07f7f7;
                 -fx-background-radius: 0 30 30 0;
}

#return-button:pressed {
    -fx-background-color :  #239c9c;
    -fx-background-radius: 0 30 30 0;
}